{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"

# Setting PATH for Python 3.11
PATH="/Library/Frameworks/Python.framework/Versions/3.11/bin:${PATH}"
export PATH

# Added by Toolbox App
export PATH="$PATH:/Users/john/Library/Application Support/JetBrains/Toolbox/scripts"

# >>> coursier install directory >>>
export PATH="$PATH:/Users/john/Library/Application Support/Coursier/bin"
# <<< coursier install directory <<<
export PATH="/opt/homebrew/opt/postgresql@16/bin:$PATH"

# Added by Obsidian
export PATH="$PATH:/Applications/Obsidian.app/Contents/MacOS"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
export PATH="$HOME/.local/bin:$PATH"

# CUDA (DGX Spark)
export CUDA_HOME=/usr/local/cuda
export PATH="$CUDA_HOME/bin:$PATH"
export LD_LIBRARY_PATH="$CUDA_HOME/lib64:${LD_LIBRARY_PATH}"
{{- end }}
